*{
    padding: 0;
    margin: 0;
}
:root{
    font-size: 16px;
    --header-bg: rgb(237, 130, 100);
    --nav-btn-bg: white;
}
ul{
    list-style-type: none;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-bg);
    padding: 3rem 0 1rem 0;
}
#navBar ul{
    display: flex;
    flex-direction: row;
}
#navBar ul li{
    padding: .5rem;
    background-color: var(--nav-btn-bg);
}