*{
    padding: 0;
    margin: 0;
 

}
:root{
    font-size: 12px;
    --header-bg: rgb(237, 130, 100);
    --nav-btn-bg: white;
    --juice-menu-bg: rgb(188, 230, 188);
}
ul{
    list-style-type: none;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-bg);
    padding: 3rem 0 1rem 0;
}
#navBar ul{
    display: flex;
    flex-direction: row;
}
#navBar ul li{
    padding: .5rem;
    background-color: var(--nav-btn-bg);
}

#juiceMenu{
    background-color: var(--juice-menu-bg);
}

.menuSection{
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 2rem;
}

.menuSubHeading{
    padding: 1.5rem;
    text-align: center;
}

.menuItem{
    padding: .3rem 0;
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, sans-serif;
}
.menuItem:first-child{
    margin-top: 0;
}

.itemName{
    padding: 1rem 0;
   
}

.ingredientList{
    display: flex;
    flex-direction: row;
    align-self: end;
    flex-wrap: wrap;
    padding: 0.2rem 0.5rem;
    background-color: aliceblue;
}
.ingredientList li{
    padding: 0 .5rem;
    
}

.itemDescrip{
    padding: 0.5rem;
    margin-top: .5rem;
    align-self: flex-end;
   font-size: 1rem;
    text-align: end;
}